NEXT_PUBLIC_USDC_TREASURY_WALLET=
USDC_TREASURY_WALLET=
NEXT_PUBLIC_SOLANA_RPC=
NEXT_PUBLIC_PRIVY_APP_ID=
PRIVY_APP_SECRET=
NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_ENABLE_USDC_TEST_PAYMENT=false
ENABLE_USDC_TEST_PAYMENT=false
